<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <app-header> </app-header>
    <app-form></app-form>
    <app-parent-component> </app-parent-component>
   <p appChangeMe [myName]=" 'directive call' "> hello </p>
   <app-shadow-dom-encap> </app-shadow-dom-encap>
   <br>
   <br>
   <p> The reverse of joy is {{ "joy" | customepipe | uppercase }} using pipes</p>

    <app-footer> </app-footer>
 
    </body>
</html>
